
<%- include("includes/head.ejs")%>

<body>
    <h1>this page belongs to @<%= data.name %>
    </h1>
    <button>follow</button>
    <button>message</button>
<p>followers: <%= data.followers %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; following:
     <%= data.following %>
</p>

<hr>
<% for(let post of data.posts){ %>
    <img src="<%= post.image %>" alt="some posts">

    <p>likes: <%= post.likes %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; comments:
        <%= post.comments %>
   </p>
<% } %>

<%- include("includes/footer.ejs") %>

<script src="/app.js"></script>

</body>

</html>